body {
    font-family: 'Times New Roman', Times, serif;;
    font-size: 15px;
    line-height: 1.5;
    background-color: lavenderblush;
    position: relative;
    margin: 0;
}

/* header */
.header-outer {
    display: flex;
    align-items: center;
    position: sticky;
    top: -50px;
    height: 120px;
    background-color: whitesmoke;
}

.header-inner {
    display: flex;
    height: 70px;
    position: sticky;
    top: 0; 
    justify-content: space-between;
}

.header-logo {
    display: block;
    height: 70px;
}

.header-title {
    display: flex;
    font-size: 15px;
}

.header-navigation {
    display: flex;
    margin-left: auto;
    margin-top: 50px;
    margin-right: 50px;
}

.header-navigation a {
    text-decoration: none;
    padding: 5px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.header-navigation a:hover {
    color: skyblue;
}

/* main */
.main {
    margin-top: 3rem;
}

/* footer */
.footer {
    background-color: lightcyan;
    color: rgb(0, 0, 0);
    text-align: center;
}

/* table */
table, th, td {
    border: 1px solid black;
    margin-left: 80px;
}

/* layout boxes */
.widget {
    width: 100%;
    max-width: 960px;
    border-radius: 8px;
    box-shadow: 0 10px 30px 0 rgba(0,0,0, 0.1);
    background-color: cornsilk;
    padding: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    font-size: 1.25rem;
}

.widget img {
    width: 100%;
    height: 450px;
}

.widget h2 {
    text-align: justify;
    margin-left: 100px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.25;
    color: royalblue;
}

.widget h3 {
    text-align: justify;
    margin-left: 100px;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.25;
    color: tomato;
}

p {
    text-align: justify;
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 1.25;
    margin-left: 100px;
    margin-right: 100px;
}

li {
    margin-left: 100px;
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 1.25;
}

figure {
    margin-left: 100px;
}

iframe {
    margin-left: 100px;
}

/* .gallery {
    position: relative;
    margin: auto;
    width: 960px;
    height: 600px;
    overflow: hidden;
}

.gallery li {
    list-style: none;
}

.gallery a {
    list-style: none;
}

.left {
    position: absolute;
    top: 300px;
    left: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.right{
    position: absolute;
    top: 300px;
    right: 0px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}


.swiper img {
    width: 100%;
    height: auto;
}

.swiper li {
    list-style: none;
    float: left;
    margin: 0;
} */

/* test of swiper */
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

/* form */
.form {
    padding: auto;
    margin: auto;
}

.form h2 {
    margin: 0;
    font-size: 30px;
    color: #000;
}

.form-container {
    margin-top: 10px;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

.form-container input {
    display: block;
    margin-top: 5px;
    width: 100%;
    height: 30px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid;
}

.form-container textarea {
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid;
}

/* button */
input[type=submit] {
    background-color: skyblue;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=reset] {
    background-color: skyblue;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media screen  and (min-width: 1024px){
    .footer {
        font-size: 1.3rem;
    }
}


@media screen and (min-width: 768px) and (max-width: 1024px){
    .header-title {
        font-size: 1.2rem;
    }

    .header-navigation {
        display: flex;
        flex-wrap: wrap;
    }
    .header-navigation a {
        font-size: 1.2rem;
    }

    .widget, li, p, table, figure, iframe{
        margin: 15px;
        padding: 15px;
        font-size: 1.15rem;
    }
}


@media screen and (max-width: 768px) {
    .header-title {
        font-size: 8px;
    }

    .header-navigation {
        display: flex;
        flex-wrap: wrap;
    }
    .header-navigation a {
        font-size: 12px;
    }

    .widget, li, p, table, figure, iframe{
        margin: 0;
        padding: 0;
        font-size: 14px;
    }
    
}

@media print {
    .header-navigation, .footer {
        display: none;
    }

    .widget {
        width:100%;
        padding:0;
        margin:0;
    }
}