body {
    font-family: 'Times New Roman', Times, serif;;
    font-size: 15px;
    line-height: 1.5;
    background-color: lavenderblush;
    position: relative;
    margin:0px;
}

/* header */
.header-outer {
    display: flex;
    align-items: center;
    position: sticky;
    top: -50px;
    height: 120px;
    background-color: whitesmoke;
}

.header-inner {
    display: flex;
    height: 70px;
    position: sticky;
    top: 0; 
    justify-content: space-between;
}

.header-logo {
    display: block;
    height: 70px;
}

.header-title {
    display: flex;
    font-size: 15px;
}

.header-navigation {
    display: flex;
    margin-left: auto;
    margin-top: 50px;
    margin-right: 50px;
}

.header-navigation a {
    text-decoration: none;
    padding: 5px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.header-navigation a:hover {
    color: skyblue;
}

.main {
    margin-top: 3rem;
}


.footer {
    background-color: lightcyan;
    color: rgb(0, 0, 0);
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    margin-left: 80px;
}

.widget {
    width: 100%;
    max-width: 960px;
    border-radius: 8px;
    box-shadow: 0 10px 30px 0 rgba(0,0,0, 0.1);
    background-color: cornsilk;
    padding: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    font-size: 1.25rem;
}

.widget img {
    width: 100%;
    height: 450px;
}

.widget h2 {
    text-align: justify;
    margin-left: 100px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.25;
    color: royalblue;
}

.widget h3 {
    text-align: justify;
    margin-left: 100px;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.25;
    color: tomato;
}


p {
    text-align: justify;
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 1.25;
    margin-left: 100px;
    margin-right: 100px;
}

li {
    margin-left: 100px;
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 1.25;
}

figure {
    margin-left: 100px;
}

iframe {
    margin-left: 100px;
}

@media screen  and (min-width: 1024px){
    .footer {
        font-size: 1.3rem;
    }
}


@media screen and (min-width: 768px) and (max-width: 1024px){
    .header-title {
        font-size: 1.2rem;
    }

    .header-navigation {
        display: flex;
        flex-wrap: wrap;
    }
    .header-navigation a {
        font-size: 1.2rem;
    }

    .widget, li, p, table, figure, iframe{
        margin: 15px;
        padding: 15px;
        font-size: 1.15rem;
    }
}


@media screen and (max-width: 768px) {
    .header-title {
        font-size: 8px;
    }

    .header-navigation {
        display: flex;
        flex-wrap: wrap;
    }
    .header-navigation a {
        font-size: 12px;
    }

    .widget, li, p, table, figure, iframe{
        margin: 0;
        padding: 0;
        font-size: 14px;
    }
    
}

@media print {
    .header-navigation, .footer {
        display: none;
    }

    .widget {
        width:100%;
        padding:0;
        margin:0;
    }
}